<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>TripFREE</title>
</head>
<body>
<div class="container">
    <br>
    <h1>Оформление заказа</h1>
    <div class="col pt-5">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Название продукта</label>
                <input type="product" class="form-control" id="exampleInputEmail1" placeholder="Введите название продукта...">
                <br>
                <label for="exampleInputEmail1">Ваша почта для связи</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите почту...">
                <br>
                <label for="exampleInputEmail1">Ваша телефон для связи</label>
                <input type="phone" class="form-control"  placeholder="Введите номер...">
            </div>

            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</div>

</body>
</html>