<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>TripFREE</title>
</head>
<body>
<div class="container">
    <h1 class="text-primary">Trip FREE - Путешествуй свободно</h1>
    <div class="row">
        <div class="col pt-5">
                        <form>
                            <input name="search" class="form-control" placeholder="Поиск..." type="search"
                                   value="{{search}}">
                        </form>
            <br>
            <br>
            <div class="card-deck">
                {% for item in result %}
                    <div class="card">
                        <img src="{{ item.image }}"
                             class="card-img-top" alt="solaris">
                        <div class="card-body">

                            <h5 class="card-title">{{ item.name }}</h5>

                            <p class="card-text">Количество звезд - {{ item.comfort }}</p>
                            <p class="card-text">Количество дней - {{ item.days_qty }}</p>
                            <p class="card-text">Цена за 1 человека - {{ item.price }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Забронировать</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</body>
</html>